.quotes {
  quotes: "“" "”" "‘" "’";
}
.quotes:before {
  content: open-quote;
}
.quotes:after {
  content: close-quote;
}
.wrapper {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  position: relative;

}
.textWrapper {

    font-size: 12vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    letter-spacing: -.083em;

    position: relative;
    z-index: 999;
}
.bgHolderOne {
  width: 1000vw;
  height: 100vh;

  background-color: #f00;

  position: absolute;
  z-index: 1;
  top:0;
  left:0;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00ead7+0,00bde8+11,008de5+22,6373ed+32,a961e8+47,e560e1+59,ef9245+72,f7c216+83,aae20d+91,00ead7+100 */
background: rgb(0,234,215); /* Old browsers */
background: -moz-linear-gradient(left, rgba(0,234,215,1) 0%, rgba(0,189,232,1) 11%, rgba(0,141,229,1) 22%, rgba(99,115,237,1) 32%, rgba(169,97,232,1) 47%, rgba(229,96,225,1) 59%, rgba(239,146,69,1) 72%, rgba(247,194,22,1) 83%, rgba(170,226,13,1) 91%, rgba(0,234,215,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(0,234,215,1) 0%,rgba(0,189,232,1) 11%,rgba(0,141,229,1) 22%,rgba(99,115,237,1) 32%,rgba(169,97,232,1) 47%,rgba(229,96,225,1) 59%,rgba(239,146,69,1) 72%,rgba(247,194,22,1) 83%,rgba(170,226,13,1) 91%,rgba(0,234,215,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(0,234,215,1) 0%,rgba(0,189,232,1) 11%,rgba(0,141,229,1) 22%,rgba(99,115,237,1) 32%,rgba(169,97,232,1) 47%,rgba(229,96,225,1) 59%,rgba(239,146,69,1) 72%,rgba(247,194,22,1) 83%,rgba(170,226,13,1) 91%,rgba(0,234,215,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ead7', endColorstr='#00ead7',GradientType=1 ); /* IE6-9 */

animation-name: bgMoveOne;
animation-duration: 20s;
animation-iteration-count: infinite;

}

@keyframes bgMoveOne {
    0% {left:0}
    50% {left:-900vh}
    100% {left:0}
}

a.quotes {
  text-decoration: none !important
}
