.header {
  width: 100vw;
  height: 1.25cm;



  background-color: rgba(0,0,0,.65);

  /*background: linear-gradient(to bottom, rgba(33,33,55,0.65) 0%,rgba(76,149,201,0.65) 27%,rgba(33,33,66,0) 100%);  */



  position:absolute;
  z-index:9999;
}
.nav {
  width: 100vw;
  height: 1.25cm;
  padding: 0 .5cm;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  align-items: center;

  font-size: .75cm;
  color: rgba(255,255,255,.7);

  position: relative;
}
a.link {
  margin: 0 .125cm;
}
a.link,
a.link:link,
a.link:visited,
a.link:active {
  color: rgba(255,255,255,.55);
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

a.link:hover {
  opacity: .65;
}

.logoClink {
  flex-basis: .85cm;
  width: .85cm;
  height: .85cm;


  color: rgba(255,255,255,.65);

  position: absolute;
  left: .25cm;
  top: .15cm;
}

.logoC {
  opacity: .75;
  display: inline-block;
  width: .85cm;
  height: .85cm;
  background: 0 0 url('../../../assets/img/logoC.svg') no-repeat transparent;
}
