.artContainer {
  /*background-color: #fcc;*/
  width: 100vw;
  height: 100vh;

  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}
.navHolder {
  position: relative;
}

.topNav {
  width: 18vh;
  height: 18vh;

  cursor: pointer;

  font-size: 18vh;
  color: rgba(255, 255, 255, 1);

  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.71);
  text-decoration: none;

  display: flex;
  justify-content: center;

  position: absolute;
  top:50%;
  margin-top: -9vh;
  z-index: 999999;

  opacity: 0;

  transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}
.topNav:hover {
  opacity: .9 !important;
}
.topNav[data-disabled="true"],
.topNav:hover[data-disabled="true"] {
  opacity: .0 !important;
  pointer-events: none !important
}
.topNav.topNavRight {
  right:.5cm;
}

.topNav.topNavLeft {
  left:.5cm;
}
